
body {
    margin: 0;
    padding: 0;        
    background-color: #bbb
}
.container {
    width: 200px;
    background-color: #000;
    margin: 0 auto;
    padding: 25px;    
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;    
    margin: auto;
    margin-top: 25px;
}
.circle:first-child {
    margin-top: 0;
}

.circle.green { 
    background-color: rgb(0, 30, 0); 
    animation-name: GreenColorTrigger;
    animation-duration: 5s; 
    transition-timing-function: ease;
}
.circle.yellow {     
    background-color: rgb(30, 30, 0);  
    animation-name: YellowColorTrigger;
    animation-duration: 3s;
    animation-delay: 5s; 
    transition-timing-function: ease;   
}
.circle.red {    
    background-color: rgb(30, 0, 0);   
    animation-name: RedColorTrigger;
    animation-duration: 10s;
    animation-delay: 8s; 
    transition-timing-function: ease;
}

@keyframes GreenColorTrigger {
    from {
        background-color: rgb(0, 30, 0);
    }  
    to {
        background-color: green;        
    }
}
@keyframes YellowColorTrigger {
    from {
        background-color: rgb(30, 30, 0);
    }  
    to {
        background-color: yellow;        
    }
}
@keyframes RedColorTrigger {
    from {
        background-color: rgb(30, 0, 0);
    }  
    to {
        background-color:red;        
    }
}